
@font-face {
	font-family: Hermeneus;
	src: url(font.ttf);
	}
body {
	background:rgb(30,30,30);
}

h1 { 
    font-family:"Hermeneus";
	font-weight:bold;
	font-size: 80px;
	color: rgb(240,140,50);
	margin: 0;
	padding: 0;
	text-shadow:1px 2px 5px rgb(100,100,100);
}
p { 
    font-family:"Hermeneus";
	font-weight:italic;
	font-size: 40px;
	color: rgb(100,100,100);
	margin: 0;
	padding: 0;
	text-shadow:1px 2px 5px rgb(100,100,100);
}
a {
	text-decoration:none;
	float:left;
}
a:hover{
	text-decoration:none;
}
#big {
	font-family:"Hermeneus";
	font-size:25px;
	width:30%;
	float: right;
	margin:30px;
	padding:20px;
	color:rgb(250,250,250);
	background:rgba(100,100,100,0.1);
	border-bottom:3px solid rgba(100,100,100,0.7);
	}
#big:hover {
	background:rgb(100,100,100);	
}
h2 { 
    font-family:"Hermeneus";
	font-weight:italic;
	font-size: 20px;
	text-decoration:overline;
	color: rgb(250,250,250);
	width:150px;
	margin: 0;
	padding: 0;
	text-shadow:1px 2px 5px rgb(100,100,100);
}
.vid {
	float:right;
	text-decoration:none;
	font-size:40px;
	width:auto;
}
#video {
	float:left;
	border-style:solid;
	border-color:rgb(100,100,100);
	}
.separator {
	background:rgb(240,140,50);
	height:25px;
	width:340px;
	border-bottom:3px solid rgba(100,100,100,0.7);
}
#img {
	position:absolute;
	top:20%;
	right:50px;
	}
.content{ margin: 0 auto; width: 960px;}

#slide1, #slide2, #slide3{ 
	padding:200;
	border-color:rgb(20,20,20);
	border-style:solid;
	border-width:3;
}
#slide1{
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	background:url('../img/back.png') repeat ;
	background-size:90px 90px;
	height: 100px;
	margin: 0;
	padding: 200px 0 260px 0;
}

#slide2{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);	
	background-color: rgb(240,140,50);
	color: #333333;
	height: 400px;
	margin-top:auto;
	overflow: hidden;
	padding: 100px 0;
}
#slide3{
	-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);
	background:rgb(100,100,100);
	color: #333333;
	height: 100px;
	margin-top:-100px;
	overflow: hidden;
	padding: 100px 0;
}
#back {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	background:rgb(240,140,50);
	font-family:"Hermeneus";
	font-style:bold;
	color:white;
	padding:10px;
	}
.install {
	background:url('../img/back.png') repeat ;
	background-size:90px 90px;
	text-align:center;
	margin-left: auto ;
	margin-right: auto ;	
	margin-top: auto ;
	margin-bottom: auto ;
	}