body {
  background: red;
  padding:0;
  margin:0;
  font-family: Helvetica, sans-serif;
}


#header {
  position:fixed;
  width:100%;
  top:0;
  display: flex;
  flex-direction: row;
  height:64pt;
  border-style: solid;
  border-color: black;
  border-width: 0pt;
  border-top-width: 2.5pt;
  border-bottom-width: 2.5pt;
  background: white;
}

.h-icon {
  flex-grow:1;
  border-style: solid;
  border-width: 0pt;
  border-right-width: 2.5pt;
  border-color:black;
  background-color: white;
  transition: background-color .1s;
}
.h-icon:hover {
  background-color: #EFECDF
}
.h-icon:hover .h-icon-icon {
  margin-right:24pt;
}
.h-icon:hover .h-icon-icon path {
  fill:#823544;
}
.h-icon-link {
  display: block;
  width:64pt;
  height:64pt;
  transition:margin-right .3s;
  padding:0pt;
  padding-right:0pt;
  margin-right: 0pt;
}

.h-icon-icon{
  transition:margin-right .3s;
  float:right;
  height:64pt;
  margin-right:3pt;
}
.h-titlebar {
  flex-grow:6;
  border-style: solid;
  border-width: 0pt;
  border-right-width: 2.5pt;
  transition: background-color 0s, padding-left .2s;
}
.h-titlebar:hover {
  color: #EFECDF;
  border-color:black;
  background-color: #823544;
  padding-left:8pt;
}
.h-title {
  padding:6pt;
  padding-bottom:0pt;
  margin:0pt;
  margin-top:6pt;
  font-weight: 600;
  font-size: 18pt
}
.h-subtitle {
  padding:6pt;
  margin:0pt;
  margin-top:2pt;
  font-weight: 400;
  font-size: 14pt
}
.h-links {
  flex-grow:3;
}

#content {
  display: flex;
  background:white;
  min-height: 600pt;
  border-style: solid;
  border-width: 0pt;
  border-top-width: 2.5pt;
}
.c-left {
  flex-grow: 1;
  border-style: solid;
  border-width: 0pt;
  border-right-width: 2.5pt;
}
.c-center {
  flex-grow: 4;
  border-style: solid;
  border-width: 0pt;
  border-right-width: 2.5pt;
}
.c-right {
  flex-grow: 3;
}
.c-r-link {
  display: block;
  width: 128pt;
  height:24pt;
  margin:12pt;
  padding:6pt;
  color:black;
  text-decoration: none;
  border-style: solid;
  border-width: 2.25pt;
  border-color: black;
  font-weight: 700;
  line-height: 24pt;
  text-align: right;
  transition:padding-right .3s;
}
.c-r-link:hover {
  text-decoration: underline;
  padding-right:24pt;
}


.fifty-box {
  float:left;
  width: 50%;
  margin:0pt;
  padding:0pt;
}
.boxofthings {
  display: block;
  height:196pt;
  width:auto;
  margin:24pt;
  padding:12pt;
  border-style: solid;
  border-width: 2.5pt;
}
.boxofthings h2 {
  padding:0pt;
  margin:0pt;
}
.boxofthings ul li {
  margin-top:8pt;
}
.boxofthings ul li a {
  font-size: 14pt;
  font-weight: 600;
  color:black;
  text-decoration: none;
}
.boxofthings ul li a:hover {
  color:blue;
}


#hidden-content {
  background:black;
  display:block;
  height:256pt;
  max-height: 256pt;
  margin:0pt;
  padding:0pt;
}


.justasection {
  height:48pt;
  width:100%;
  border-style: solid;
  border-width: 0pt;
  border-top-width: 2.5pt;
  background:white;
}
.justasection p {
  width : 100%;
  height:32pt;
  font-size: 18pt;
  font-weight: 600;
  text-align:center;
}
#footer {
  position:relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height:400px;
  padding-bottom:92pt;
  border-style: solid;
  border-width: 0pt;
  border-top-width: 2.5pt;
  background:white;
}
#game {
  height:400px;
  width:940px;
  margin:0 auto;
}
#background: {
  position:absolute;
  top:0px;
  left:0px;
  width:920px;
  height:400px;
}
