

@font-face
{
font-family: Hermeneus;
src: url(font.ttf);
}

body {
	background:rgb(240,240,240);
	font-family:"Hermeneus", Times, serif;
	}
#top-text {
	background:rgb(140,140,140);
	color:rgb(240,240,240);
	font-size:16px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	padding:5px;
	}
#header1 {
	background:rgb(70,150,204);
	color:rgb(240,240,240);
	padding:5px;
	}
#image {
	display: block;
	max-height:80px;
	margin-left: auto;
	margin-right: auto;
	}
#presentation {
	position:absolute;
	left:10px;
	right:36%;
	background:rgb(140,140,140);
	color:rgb(240,240,240);
	margin-top:10px;
	padding:10px;
	}
#im1 {
	position:absolute;
	right:20px;
	left:65%;
	background:rgb(140,140,140);
	margin-top:10px;
	width:33%;
	padding:4px;
	}
	#im2 {
	background:rgb(140,140,140);
	margin-top:190px;
	width:63%;
	padding:4px;
	}
	#im3 {
	background:rgb(140,140,140);
	margin-top:10px;
	width:63%;
	padding:4px;
	}