body {
  background:rgb(35,35,35)
}
#logo {
  background: red
}
#triangle-down {
  border-top-color: red;
}

.small-projects{
  background: transparent;
}
.big-projects{
  background: transparent;
}

.project-text {
  background-color:transparent;
  color:white;
}
