@font-face {
  font-family: "Spartan";
  src:url('leaguespartan-bold.ttf');
}
body {
  font-family:'Montserrat',Arial;
  margin:0px;
  padding:0px;
  background:#FFFCE6
}

.container {
  margin:10px auto;
  width:100%;
}

.category {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.left-container {
  float:left;
  width:295px;
  margin:0px;
  padding:0px;
  height:60px;
}
.right-container {
  float:right;
  margin:0px;
  margin-top:2px;
  padding:0px;
  margin-left: 0px;

}

.image {
  width:300px;
}

.ctgry-h1 {
  font-size: 1.5em;
  border-style: solid;
  border-width: 0px;
  border-top-width: 5px;
  border-color: black;
  margin:0px;
  font-family: "Spartan";
  padding:4px;
}
.ctgry-color {
  color:#CF000F;
}

.collection {
  background-color:rgb(10,10,10);
  background-position: center;
  background-size: cover;
  width:100%;
  height:200px;;
  margin:0px;
  margin-top:0px;
  margin-bottom: 8px;
  padding:2px;
  float:left;
  margin-right:6px;
}
.collection img {
  width:100%;
}
.collection video {
  width:100%;
  height:400px;
}
.collection a {
  margin-top:0px;
  margin-left:0px;
  color: white;
  font-size: 1.5em;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 3px;
  border-color: transparent;
  text-decoration: none;
  text-shadow: 1px 2px 2px rgba(150, 150, 150, 0.2);
  font-weight: bold;
}
.collection a:hover {
  border-color: white;
}


.collection-view {
  transition:top .3s;
  z-index: 100;
  display:block;
  position:fixed;
  top:100%;
  left:0px;
  right:0px;
  bottom:0px;
}
.collection-view.active{
  top:0px;
}

.popup {
  background-color: #FFFCE6;
  display: block;
  height:100%;
  overflow: auto;
  margin:0px auto;

}
.slider {

  overflow: auto;
  padding:6px;
}
.popup-header {
  height:48px;
  padding:10px;
  padding-bottom: 0px;
}
.popup-header a {
  transition: color .4s;
  text-decoration: none;
  color:rgba(0,0,0,0.5);
}
.popup-header a:hover {
  color:black;
}
.close {
  float:right;
}

.popup-header .title {
  font-weight: bold;
  color:black;
  text-decoration: none;
  padding:0px;
  border-style: solid;
  border-width: 0px;
  border-top-width: 3px;
  border-color: black;
}

.mp-link {
  background-size: cover;
  background-position: center;
  width:300px;
  height:300px;
  display:block;
  float:left;
  margin:4px;
}
.mfp-img {
  max-height: 90% !important;
}

.link {
  margin: 10px;
  color: white;
  background-color: black;
  padding: 3px;
  text-decoration: none;
  font-weight: bold;
}
.link:hover {
  text-decoration: underline;
}
.description {
  width:400px;
  text-align: left;
  padding:10px;
  padding-top:0px;
}

#header h1 {
  font-size: 5em;
  padding:100px;
  padding-bottom:0px;
  margin-bottom:0px;
  font-family: "Spartan"
}
#header h2 {
  margin:5px;
  padding-left:100px;
  padding-top:0px;
  padding-bottom: 180px;

}


@media screen and (min-width: 480px) {
  .container {width:480px}
}
@media screen and (min-width: 600px) {
  .container {width:600px}
  .right-container {
    margin-left: 5px;
    margin-top:0px;
  }
}
@media screen and (min-width: 840px) {
  .container {width:840px}
  .right-container {
    margin-left: 305px;
    margin-top:-60px;
  }
}
@media screen and (min-width: 960px) {
  .container {width:960px};
  .right-container {
    margin-left: 305px;
    margin-top:-60px;
  }
  .collection {
    width:48%;
  }
}
@media screen and (min-width: 1280px) {
  .container {width:1280px};
}
@media screen and (min-width: 1440px) {
  .container {width:1440px}
}
