@font-face {
  font-family: "Spartan";
  src:url('leaguespartan-bold.ttf');
}
body {
  font-family:'Montserrat',Arial;
  margin:0px;
  padding:0px;
  background:#8a2d3c;
  color:#302020;
}
* {
  border-color: #302020;
}
.h-color {
  color:#f8e2ce;
}
.dark-color {
  color:#302020;
}

.container {
  margin:10px auto;
  width:100%;
}

.category {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  position: relative;
  justify-content:space-between;
  margin-bottom:40px;
}
.left-container {
  margin:0px;
  padding:0px;
  height:150px;
  flex-basis: 300px;
}
.right-container {
  margin:0px;
  padding:  0px;
  margin-left: 0px;
  flex:1;
}
.right-container div {
  margin: 0px;
  margin-left: 10px;
  padding:0px;
}
.right-container p {
  font-size: 1.6em;
  text-align: justify;
}
.right-container a {
  color:inherit;
}
.right-container code {
  font-weight: bold;
  color:#f8e2ce;
}

.image {
  width:300px;
}

.ctgry-h1 {
  font-size: 1.5em;
  border-style: solid;
  border-width: 0px;
  border-top-width: 5px;
  margin:0px;
  font-family: "Spartan";
  padding:4px;
}

#header h1 {
  font-size: 5em;
  padding:0px;
  padding-top:100px;
  margin-bottom:0px;
  font-family: "Spartan"
}
#header h2 {
  margin:5px;
  padding:0px;
  padding-bottom: 180px;

}
.status {
  font-size: .3em;
  color:#f8e2ce;
}

@media screen and (min-width: 480px) {
  .container {width:480px}
}
@media screen and (min-width: 600px) {
  .container {width:600px}
  .right-container{
    min-width: 400px;
  }
}
@media screen and (min-width: 840px) {
  .container {width:840px}
}
@media screen and (min-width: 960px) {
  .container {width:960px};
  .collection {
    width:48%;
  }
}
@media screen and (min-width: 1280px) {
  .container {width:1280px};
}
@media screen and (min-width: 1440px) {
  .container {width:1440px}
}
