@font-face {
  font-family: "Spartan";
  src:url('leaguespartan-bold.ttf');
}
@font-face {
  font-family: "Merriweather";
  src:url('Merriweather-Regular.ttf');
}
@font-face {
  font-family: "Merriweather It";
  src:url('Merriweather-Italic.ttf');
}
@font-face {
  font-family: "Merriweather Italic";
  src:url('Merriweather-BoldIt.ttf');
}
body {
  font-family:'Montserrat',Arial;
  margin:0px;
  padding:0px;
  background:#FFFCE6;
  overflow-x:hidden;
}

.container {
  margin:10px auto;
  width:100%;
  position: relative;
}

.category {
  width: 100%;
  position: relative;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top:10px;
  overflow: hidden;
  z-index:-1;
}
.left-container {
  flex-basis: 300px;
  width:295px;
  margin:0px;
  margin-bottom: 20px;
  padding:0px;
  height:auto;
}
.collections-container {
  width:100%;
}

.image {
  width:300px;
}

.ctgry-title {
  height:100px;
  z-index:10;
}

.ctgry-container {
  z-index:10;
  border-style:solid;
  border-width: 1px;
  border-color:rgba(0,0,0,0.8);
  background:#FFFCE6;
  width:400px;
  padding:20px;
  margin:10px;
  box-shadow:2px 2px 0px 0px rgba(0,0,0,0.6)
}

.ctgry-h1 {
  font-size: 1.5em;
  margin:0px;
  font-family: "Spartan";
  text-transform: uppercase;
  padding:4px;
  text-align: center;
}
.ctgry-p {
  margin:0px;
  font-size: 1.3em;
  font-family: "Merriweather It";
  text-align: center;
  color:rgba(0,0,0,0.8);
}
.ctgry-color {
  color:#e22b3d;
}
.ctgry-s-color {
  color:#4d3ed2;
}
hr {
  width:25px;
  margin:8px auto;
}

.col-block {
  display: block;
  width:100%;
  height:500px;
  float:left;
}

.collection {
  background-color:rgb(10,10,10);
  background-position: center;
  background-size: cover;
  text-decoration: none;
  position:relative;
  margin:4px;
  width:auto;
  height:492px;;
  display:block;
  box-shadow:2px 2px 0px 0px rgba(0,0,0,0.2)
}


.collection .col-info {
  position: absolute;
  width:250px;
  background:#FFFCE6;
  bottom:10px;
  right:10px;
  color:black;
  border-style: solid;
  border-width: 1px;
  border-color:rgba(0,0,0,0.8);
  box-shadow:2px 2px 0px 0px rgba(0,0,0,0.6)
}
.collection .col-info p {
  margin:10px;
  text-align: center;
  font-family: "Merriweather";
}

.collection .col-title {
  margin:10px;
  color: black;
  font-size: 1.6em;
  text-align: center;
  font-family: "Spartan";
  font-weight: bold;
  text-transform: uppercase;

}
.collection .col-date {
  margin-top:0px;
  margin-left:0px;
  font-size: 1.2em;
  font-family: "Merriweather Italic";
  color:#4d3ed2;
  text-align: center;
}


.collection-view {
  transition:top .3s;
  z-index: 100;
  display:block;
  position:fixed;
  top:100%;
  left:0px;
  right:0px;
  bottom:0px;
}
.collection-view.active{
  top:0px;
}

.popup {
  background-color: #FFFCE6;
  display: block;
  height:100%;
  overflow: auto;
  margin:0px auto;

}
.slider {

  overflow: auto;
  padding:6px;
}
.popup-header {
  height:48px;
  padding-bottom: 0px;
  position: absolute;
  left:10px;
  right:10px;
  top:0px;
  background:#FFFCE6;
}
.popup-header a {
  transition: color .4s;
  text-decoration: none;
  color:rgba(0,0,0,0.5);
  font-family: "Spartan";
  text-transform: uppercase;
  margin:5px;
}
.popup-header a:hover {
  color:black;
}
.close {
  float:right;
  cursor: pointer;
}

.popup-header .title {
  font-weight: bold;
  color:black;
  text-decoration: none;
  padding:0px;
  font-family: "Spartan";
  text-transform: uppercase;
}

.mp-link {
  display:block;
  margin:4px;
  width:45%;
  float:left;

}
.mp-link img  {
  width:100%;
}
.mfp-img {
  max-height: 90% !important;
}

.link {
  margin: 10px;
  color: white;
  background-color: black;
  padding: 3px;
  text-decoration: none;
  font-weight: bold;
  font-family: "Merriweather It"
}
.link:hover {
  text-decoration: underline;
}
.description {
  width:400px;
  text-align: left;
  padding-left:10px;
  margin-top:58px;
  padding-top:0px;
  font-family: "Merriweather It";
}

#header {
  padding-top:20px;
  background-color: ;
}
#header h1 {
  font-size: 3em;
  padding:0px;
  padding-left: 5px;
  padding-top:20px;
  margin-bottom:0px;
  width: 100%;
  text-align: center;
  font-family: "Spartan";
  text-transform: uppercase;
}
#header h2 {
  margin:5px;
  padding:0px;
  padding-bottom:20px;
  width: 100%;
  text-align: center;
  font-family: "Merriweather Italic";
  font-weight: normal;
}
#header h3 {
  margin:5px;
  padding:0px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: "Merriweather";
  font-weight: bold;
  font-size: 1em;
}
#header h3 span {
}
#header a {
  color:black;
  text-decoration: none;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 3px;
  border-color: transparent;
}
#header a:hover {
  border-bottom-color: black
}
#header p {
  font-family:"Merriweather It";
  text-align: center;
}

.status {
}
.icon {
  width:400px;
  height:300px;
  margin:0 auto;
  padding:40px;
}
#logo-background {
  position: absolute;
  width: 400px;
  height:300px;
  background-image: url('../a_background.svg');
  background-repeat: no-repeat;
  z-index:-1;
  padding:40px;
}
#logo-background2 {
  position: absolute;
  width: 400px;
  height:300px;
  background-image: url('../a_background2.svg');
  background-repeat: no-repeat;
  z-index:-3;
  padding:40px;
}
.buttons {
  margin-top:20px;
  padding-bottom:20px;
  margin-bottom:20px;
  padding-top:20px;
  height:auto;
  width: 100%;
  overflow: hidden;
}
.button {
  transition: background-image .1s;
  display: block;
  width: 33%;
  float:left;
  margin:0px;
  padding: 0px;
  height:200px;
  background-image: url('../background.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.button:hover {
  background-image: url('../background_hover.svg');
}
.websites {
  display: block;
  width: 100%;
  height:100%;
  background-image: url('../websites.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-width: 0px;
  border-style: none !important;
}
.threed {
  display: block;
  width: 100%;
  height:100%;
  background-image: url('../threed.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-width: 0px;
  border-style: none !important;
}
.logos {
  display: block;
  width: 100%;
  height:100%;
  background-image: url('../logos.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-width: 0px;
  border-style: none !important;

}
@media screen and (max-width: 480px) {
  .buttons .button {
    width:100%;
  }
  .icon {
    padding:0px;
    margin:0 auto;
    width:100%;
  }
  .ctgry-container {
    width:auto;
    right:5px;
  }
}

.myself {
  width:90%;
  margin:0 auto;
  padding-bottom:30px;
}

.myself img {
  width:240px;
  height:240px;
  border-radius: 50%;
  display: block;
  margin:10px auto;
  margin-top:40px;
}

@media screen and (min-width: 480px) {
  .container {width:480px}
}
@media screen and (min-width: 600px) {
  .container {width:600px}
  #header {
    padding-top:60px;
    padding-bottom:10px;
  }
}
@media screen and (min-width: 840px) {
  .container {width:840px}
}
@media screen and (min-width: 960px) {
  .container {width:960px}
  .col-block {
    width:50%;
  }
}
@media screen and (min-width: 1280px) {
  .container {width:1180px};
}
@media screen and (min-width: 1440px) {
  .container {width:1280px}
}
